<%- include('header') %> 
<h1 class="text-center mb-3">Register</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form class="form-group" action="/register" method="post">
  <div class="row mt-4">
    <label class="offset-3 col-1 pt-1" for="POST-name">Nom :</label>
    <input class="form-control col-5" id="POST-name" type="text" name="name">
    <label class="offset-3 col-1 pt-1" for="email">Email</label>
    <input class="form-control col-5" type="email" id="email" name="email" required>
    <label class="offset-3 col-1 pt-1" for="POST-password">Password</label>
    <input class="form-control col-5" id="POST-password" type="password" name="password">
</div>
  <div class="text-center mt-1">
    <input class="btn btn-primary" type="submit" value="S'inscrire">
  </div>
  </form>
<a href="/login">LogIn</a>