<%- include('header') -%>
<% if (typeof Erreur !== 'undefined') {%>
    <%= Erreur %>
<% } %>
<h1>Inscription</h1>
    <form class="form-group" action="/signin" method="post">
      <div class="row mt-4">
        <label class="offset-3 col-1 pt-1" for="POST-name">Nom :</label>
        <input class="form-control col-5" id="POST-name" type="text" name="username">
        <label class="offset-3 col-1 pt-1" for="POST-password">Password :</label>
        <input class="form-control col-5" id="POST-password" type="password" name="password">
    </div>
      <div class="text-center mt-1">
        <input class="btn btn-primary" type="submit" value="Se connecter">
      </div>
      </form>

<%- include('footer') -%>